<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Analysis</title>
    <link rel="stylesheet" href="../static/css/Analysis.css">
    <link rel="icon" type="image/webp" href="../static/img/logo.webp">
</head>
<body>
   
        
      <div class="button-container">
          <h1>Analysis</h1>
          <button onclick="location.href='ExpenseOverview'">View Expense Overview</button>
          <button onclick="location.href='IncomeOverview'">View Income Overview</button>
      </div>
      

        <!-- Diamond Elements -->
        <div class="diamond"></div>
        <div class="diamond"></div>
        <div class="diamond orange"></div>
        <div class="diamond"></div>
        <div class="diamond orange"></div>
        <div class="diamond"></div>
        <div class="diamond orange"></div>
        <div class="diamond"></div>
        <div class="diamond"></div>
        <div class="diamond orange"></div>
    </div>
</body>
</html>