<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Analysis</title>
    <link rel="stylesheet" href="../static/css/Analysis.css">
    <link rel="icon" type="image/webp" href="../static/img/logo.webp">
</head>
<body>
    <div class="container">
        <h1>Analysis</h1>
        <p>View your expense and income analysis here.</p>
        <a href="/expenses" class="btn"style="color: orange;">View Expenses</a>
        <a href="/income" class="btn"style="color: orange;">View Income</a>
      
        
       <!-- Expense Overview Section -->
  <div>
    <h2><a href="ExpenseOverview"class="btn"style="color: orange;">Expense Overview</a></h2>
    <p>Click to view the summary of your expenses across categories on a dedicated page.</p>
  </div>

  <!-- Income Overview Section -->
  <div>
    <h2><a href="IncomeOverview"class="btn"style="color: orange;">Income Overview</a></h2>
    <p>Click to view the summary of your income sources on a dedicated page.</p>
  </div>

  <!-- Expense Flow Section -->
  <div>
    <h2><a href="Expense_Flow.html" class="btn"style="color: orange;">Expense Flow</a></h2>
    <p>Click to view the visualization of expense trends over time on a dedicated page.</p>
  </div>
  <!-- Income Flow Section -->
  <div>
    <h2><a href="Income_Flow.html"style="color: orange;" >Income Flow</a></h2>
    <p>Click to view the visualization of your income trends over time on a dedicated page.</p>
  </div>
        
    </body>
    </html>
 