<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fincom - Contact Us</title>
    <link rel="stylesheet" href="../static/css/contact.css">
</head>
<body>

    <header>
        <h1>Fincom</h1>
    </header>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <h2>Contact Us</h2>
            <p>Get in touch with our great founders:</p>
            <form>
                <div class="participant-form">
                    <input type="text" id="name1" value="Ossaiku Prosper" readonly>
                    <input type="email" id="email1" value="ossaikuprosper@gmail.com" readonly>
                </div>
                <div class="participant-form">
                    <input type="text" id="name2" value="Olatundun Tesleem" readonly>
                    <input type="email" id="email2" value="muhammedtesleemolatundun@gmail.com" readonly>
                </div>
                <div class="participant-form">
                    <input type="text" id="name3" value="Olaofe Opeyemi" readonly>
                    <input type="email" id="email3" value="emmanuelolaofe5@gmail.com" readonly>
                </div>
                <div class="participant-form">
                    <input type="text" id="name4" value="Luka Bright" readonly>
                    <input type="email" id="email4" value="emokene.bright@gmail.com" readonly>
                </div>
                <div class="participant-form">
                    <input type="text" id="name5" value="Oduntan James" readonly>
                    <input type="email" id="email5" value="jamesoduntan@gmail.com" readonly>
                </div>
                <div class="participant-form">
                    <input type="text" id="name6" value="Shittu Bilal" readonly>
                    <input type="email" id="email6" value="shittubilal@gmail.com" readonly>
                </div>
                <div class="participant-form">
                    <input type="text" id="name7" value="Oseni Abdulateef" readonly>
                    <input type="email" id="email7" value="oseniabdulateef@gmail.com" readonly>
                </div>
                
            </form>
        </div>
    </section>

    <footer>
        <p>&copy; 2025 Fincom. All Rights Reserved.</p>
        <a href="{{ url_for('index')}}" class="btn">Back</a>
    </footer>

</body>
</html>
