<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Forgot Password</title>
  <link rel="stylesheet" href="../static/css/forgot_password.css">
  <link rel="icon" type="image/webp" href="../static/img/logo.webp">

</head>
<body>
  <div class="container">
    <h2>Forgot Password</h2>
    <form action="{{ url_for('forgot_password') }}" method="POST">
      <input type="email" name="email" placeholder="Enter your email" required>
      <button type="submit">Send Reset Link</button>
    </form>
  </div>
</body>

</html>

</html>

