<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Total Expenses</title>
  <link rel="stylesheet" href="../static/css/Total_expenses.css">
  <link rel="icon" type="image/webp" href="../static/img/logo.webp">

</head>
<body>
  <div class="container">
    <h2>Total Expenses</h2>
    <p>The total expense amount is: <strong>{{ total }}</strong> Naira</p>
    <button onclick="window.location.href='expenses'">Add More Expenses</button>
  </div>
</body>
</html>
